@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Fira+Code:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");
/* 
font-family: 'Fira Code', monospace;    COMPUTER TEXT
font-family: 'Roboto Mono', monospace;  ALT COMPUTER TEXT

font-family: 'Concert One', cursive;    LOGO TEXT
font-family: 'Roboto', sans-serif;      REGULAR TEXT
*/

* {
  box-sizing: border-box;
  font-family: "Concert One", cursive;
}
html {
  margin: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
  background: #3c577f
}
a {
  color: inherit;
  text-decoration: none;
}

/* DIM IMAGE BRIGHTNESS FOR HOVERED IMAGES */
.darken {
  filter: brightness(85%);
}
